 * 
   { 
     font-size: 34x pt;
     color: blue;
     background-color: yellow;
   } 

 p.klasa_nieuniwersalna_matlach
   { 
    font-size: 32pt; 
    color: purple;  
   } 

 .moja 
   { 
    color: green; 
    font-size: 21pt; 
   }

/ * Matłach Zad57_css  */ 