/* SELEKTORY: */
body {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10pt;
color: #0000FF;
background-color: #0000FF;
margin: 6mm;
}
p {
text-align: justify;
}
pre, code {
font-size: 8pt;
}