table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

td {
    border: 1px solid black;
    padding: 5px;
    text-align: centerSSS;
}

tr{
    background-color: #f2f2f2;
    f